<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- //... -->
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-ROLLING"/>
    </appender>

    <root level="debug">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>